{% extends "base.html" %}
{% block content %}
<h2 class="page-title">Boxers</h2>
<div class="content-container">
  {% if boxers %}
    <table>
      <thead>
        <tr>
          <th>Name</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        {% for b in boxers %}
          <tr>
            <td>{{ b.name }}</td>
            <td>
              <a class="btn" href="{% url 'boxer_tests' b.id %}" style="background-color:#000; padding:0px; color: #00ceff">Tests</a>
              <a class="btn" href="{% url 'boxer_report' b.id %}" style="background-color:#000; padding:0px; color: #00ceff">Attendance</a>
                {% if b.pk %}
                  <a class="btn" href="{% url 'heart_rate_detail' boxer_id=b.pk %}" style="background-color:#000; padding:0px; color: #00ceff">Heart Rate</a>
                  <a class="btn" href="{% url 'weight_detail' boxer_id=b.pk %}" style="background-color:#000; padding:0px; color: #00ceff">Weight</a>
                {% endif %}
              <form method="post"
                  action="{% url 'delete_boxer' b.pk %}"
                  style="display:inline; "
                  onsubmit="return confirm('Delete {{ b.name }}?');">
              {% csrf_token %}
              <button type="submit" class="btn btn-danger" style="background: red">Delete</button>
            </form>

            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  {% else %}
    <p>No boxers yet.</p>
  {% endif %}
</div>
{% endblock %}
