{% extends "base.html" %}

{% block content %}

<h1>Boxer Factory</h1>

<!-- Boxer Manager -->
<div class="card" style="background:#111;border:1px solid #00ff66;border-radius:12px;padding:16px;">
  <h3>Manage Boxers</h3>
  <div style="display:inline-flex;gap:6px;align-items:center; justify-content: center; flex-wrap:wrap;">
    <a class="btn" href="{% url 'boxer_bulk_add' %}">Add Boxer</a>
    <a class="btn" href="{% url 'boxer_list' %}">Manage</a>
  </div>
</div>

<!-- Battery Tests -->
<div class="grid" style="display:grid;gap:16px;grid-template-columns:repeat(auto-fit,minmax(240px,1fr));margin-top:16px;">
  <div class="card" style="background:#111;border:1px solid #00ff66;border-radius:12px;padding:16px;">
    <h3>Battery Tests</h3>
    <p>
        <a class="btn" href="{% url 'tests_list' %}">Manage Tests</a>
        <a class="btn" href="{% url 'tests_rankings' %}">Rankings</a>
        <a class="btn" href="{% url 'tests_record' %}">Record Results</a>
    </p>
  </div>
</div>

<!-- Attendance -->
<div class="grid" style="margin-top:16px; border: 1px solid #00ff66; border-radius: 10px">
  <div class="card" style="padding: 15px; text-align: center;">
    <h3>Mark Attendance</h3>
    <p style="font-style: italic">Quickly mark who’s present today.</p>
    <div style="display: flex; justify-content: center; gap: 12px; flex-wrap: wrap; margin-top: 10px;">
      <a class="btn" href="{% url 'mark_attendance' %}">Mark</a>
      <a class="btn " href="{% url 'attendance_list' %}">All Attendance</a>
    </div>
  </div>
</div>

{% endblock %}

